@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
/*
  font-family: "Roboto", sans-serif;
  font-family: "Rock Salt", cursive;
  font-family: "Pacifico", cursive;
*/

:root {
  --darkverde: rgb(0, 44, 42);
  --verde: rgb(0, 161, 78);
  --vermelho: rgb(231, 27, 36);
  --amarelo: rgb(241, 192, 5);

  --fundo: #0D0D0D;
  --fundo-secundario: #1A1A1A;
  --branco-sutil: #E5E5E5;
  --cinza-claro: #AAAAAA;
  --mostarda: #F1A208;
  --fundo-terciario: #2A2A2A;
  --cinza-medio: #666666;
  --cinza-escuro: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-column: 100vw;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}



body.dark {
  background-image: url(img_cardapios/bg-darkcardapio.jpg);
  color: white;
}
body{
background-image: url(img_cardapios/bg-lightcardapio20.png)

}
 
#container {
  /*ajuste de todo a disposição do conteudo no copor*/
  display: grid;
  grid-template-areas:
    "header"
    "article"
    "main"
    "footer";
  grid-template-columns: auto;
  

}

header {
  /*cabeçalho*/
  grid-area: header;
  background-color: var(--darkverde);
  display: flex;
  max-width: 100vw;
  height: 13vh;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

header .logo {
  justify-self: start;
}

header .logo img {
  height: 65px;
  width: auto;
}

header .logo img:hover {
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

header .menu {
  /*menu - peca agora*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /*distancia menus - pecaagora*/
}

header .menu nav {
  /*MENUS*/
  display: flex;
  gap: 1.5rem;

}

header .menu nav a {
  color: white;
  font-size: large;
  font-weight: 500;


}

header .menu nav a:hover {
  color: var(--vermelho);
  border-bottom: 0.1rem solid var(--vermelho);
  padding-bottom: 0.1rem;
  transition: 0.3s linear;
}

header .menu .pecaagora {
  /*peça agora*/
  background-color: var(--vermelho);
  padding: 10px;
  border-radius: 20px;
}

header .menu .pecaagora a {
  color: white;
  font-size: large;
  font-weight: 500;
}

header .menu .pecaagora:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* Estilo do toggle switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #f32121;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

/*fim Acessibilidade modo D e L*/

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 400vw;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0px 10px rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(219, 213, 213);
  /* Claro padrão */
  color: rgb(0, 44, 42);
}

.container h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: solid 1px;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;

}


.input-box input::placeholder {
  color: #557671;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 70%;
  font-size: 20px;
  color: #9f9a00fb;
  ;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: -10px 0 15px;
}

.remember-forgot label input {
  accent-color: rgb(27, 73, 41);
  margin-right: 5px;
}

.remember-forgot a {
  text-transform: none;
  color: #550303;
  ;

}

.remember-forgot a:hover {
  text-decoration: underline;

}

.login {
  width: 100%;
  height: 50px;
  background-color: lab(20.24% -16.16 2.35);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  margin-top: 10px;
}

.login:hover {
  background-color: #006512;
  transition: 0.2s;
  box-shadow: 0 0 10px #054111;
}

.register-link {
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}

.register-link a {
  text-decoration: none;
  font-weight: 500;
  color: #550303;
}

.register-link a:hover {
  text-decoration: underline;

}

.container #img-cadastro {
  flex: 1;
  display: flex;
  justify-content: center;
}


body.dark .container {
  background-color: var(--cinza-medio);
  color: var(--darkverde);

}

body.dark .input-box input::placeholder {
  color: var(--cinza-escuro);
}


footer {
  grid-area: footer;
  max-width: 100vw;
  background-color: var(--darkverde);
}

footer .rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

footer .rodape img {
  height: auto;
  width: 5rem;
  margin-bottom: 1rem;
}

footer .rodape p {
  color: white;
  line-height: 1.5;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  header .menu nav {
    display: none;
  }

  header {
    height: 13vh;
  }

  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #004d40;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav.active {
    display: flex;
    gap: 2rem;
    padding: 2rem 0rem 2rem 0rem;
  }

  .hamburger {
    display: block;
  }

  header .logo {
    margin: auto;
  }

  header .logo img {
    height: 60px;
  }

  header .menu .pecaagora {
    display: flex;
    gap: 1.5rem;
  }

  header .theme-switch-wrapper {
    margin-left: 1.2rem;
    display: flex;
    gap: 1rem;
  }


}